@charset "utf-8";

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    height: 100%;
}

/* 카테고리바 */
.category-bar {
    background-color: lightblue;
    width: 20%;
    height: 100%;
    
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

/* 사이드바 */
.sidebar {
    background-color: lightcoral;
    width: 20%;
    height: 100%;

    position: relative; /* 버튼 위치를 위해 relative 설정 */
    transition: margin 0.5s ease;
    z-index: 1;
}

/* 본문 */
.posts {
    background-color: #cccccc;
    flex-grow: 1;
    transition: margin 0.5s ease;
}
.toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* '<폴더' 버튼 눌러서 카테고리바가 보일 때 (active 클래스 on될 때) 변화 */
body.active .category-bar {
    transform: translateX(0%);
}
body.active .sidebar {
    margin-left: 20%;
}